lab/lab00/.ok_history
lab/lab00/.ok_storage.bak
lab/lab00/.ok_storage.dir
lab/lab00/__pycache__/
lab/lab00/.ok_messages
lab/lab00/.ok_storage.dat
lab/lab00/lab00.ok
lab/lab00/ok
lab/lab00/tests/
lab/lab01/tests/__init__.py
lab/lab01/tests/clones.py
lab/lab01/tests/control.py
lab/lab01/tests/debugging-quiz.py
lab/lab01/tests/if-statements.py
lab/lab01/tests/short-circuit.py
lab/lab01/ok
lab/lab01/lab01.ok
lab/lab01/.ok_history
lab/lab01/.ok_messages
lab/lab01/__pycache__/
lab/lab01/tests/
lab/lab01/.lab01_extra.py.swp
lab/lab01/.ok_storage.bak
lab/lab01/.ok_storage.dat
hw/hw01/.hw01.py.swp
hw/hw01/.ok_history
hw/hw01/.ok_messages
hw/hw01/.ok_storage.bak
hw/hw01/.ok_storage.dat
hw/hw01/.ok_storage.dir
hw/hw01/__pycache__/
lab/lab01/.ok_storage.dir
hw/hw01/ok 
hw/hw01/hw01.ok
hw/hw02/construct_check.py
hw/hw02/hw02.ok
hw/hw02/ok
hw/hw02/.hw02.py.swp
hw/hw02/.ok_history
hw/hw02/.ok_messages
hw/hw02/.ok_storage.bak
hw/hw02/.ok_storage.dat
hw/hw02/.ok_storage.dir
hw/hw02/__pycache__
lab/lab02/.lab02.py.swp
lab/lab02/.ok_history
lab/lab02/.ok_messages
lab/lab02/.ok_storage.bak
lab/lab02/.ok_storage.dat
lab/lab02/.ok_storage.dir
lab/lab02/__pycache__/
lab/lab02/lab02.ok
lab/lab02/ok
lab/lab02/tests/
lab/lab02/.lab02_extra.py.swp
lab/lab04/.lab04.py.swp
lab/lab04/.ok_history
lab/lab04/.ok_messages
lab/lab04/.ok_storage.bak
lab/lab04/.ok_storage.dat
lab/lab04/.ok_storage.dir
lab/lab04/__pycache__/
lab/lab04/construct_check.py
lab/lab04/lab04.ok
lab/lab04/ok
lab/lab04/tests
.gitignore.swp
